body{
  background-color: rgb(223, 223, 223);
}

textarea{
background-color: rgb(89 180 117 / 27%);
border-radius: 4px;
border: gray solid 1.5px;
margin: 1px 4px;
resize: none; 
overflow: auto;
max-width: initial;
border: gray solid 1px;
padding: 10px;
position: relative;
/*left: 15%; */
width: 100%;
}

.hour-block{
  border: rgba(27, 26, 26, 0.952) solid 0.5px;
  background-color: rgba(185, 185, 185, 0.486);
  
}

.container{
  border: rgba(27, 26, 26, 0.438) solid 0.5px;
  min-width: 400px;
  margin-top: 1px;
}

.hour-label{
  max-width: 20%;
  background-color: rgba(128, 128, 128, 0.11);
  border: rgba(49, 49, 49, 0.062) solid 0.5px;
}

.col{
  align-self: none;
}

.btn-col{
  max-width: 17%;
  padding: 5px;
  content: center;
  align-self: center;
}

.appt{
  /*text-align: center; */
  padding: 25px 15px;

}
.appt textarea{
  /*text-align: center; */
  padding: 5px;

}
#page-heading{
  font-size: large;
}

#page-subheading{
  font-size: small;
  color: rgb(66, 65, 65);
}

#jumbo-adjusted{
  padding: 8px 2px;
  margin-bottom: 0px;
  box-shadow: 0px 3px 5px 0px rgb(7, 7, 7); 
  background-color: rgba(194, 194, 194, 0.973) !important;
  position: sticky; 
  top: 0px;
  z-index: 999;

}

#currentDay{
  margin-bottom: 1.5px;
}

/* =========================== */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 2px solid black;
  font-size: medium !important;
  background-color: black;
} 

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 100px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past textarea {
  background-color: #e7e4e4;
  color: rgb(10, 10, 10);
}

.present textarea{
  background-color: #e9b28b;
  color: rgb(10, 10, 10);
}

.future textarea {
  background-color: #96e796;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: rgb(10, 10, 10);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
